# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2

jobs:
  build:
    working_directory: ~/nome-projeto
    environment:
          JVM_OPTS: -Xmx3200m
    docker:
      - image: circleci/android:api-25-alpha
    steps:
      - checkout

      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}

      - run:
          name: Download Constraint-layout Dependencies
          command: echo y | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout;1.0.0-beta4"

      - run:
          name: Download Constraint-layout-solver Dependencies
          command: echo y | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout-solver;1.0.0-beta4"


      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}

      - run:
          name: Run Tests
          command: ./gradlew lint test

      - store_artifacts:
          path: app/build/reports
          destination: reports

      - store_test_results:
          path: app/build/test-results

      - run:
          name: Build Version
          command: ./gradlew assemble

      - store_artifacts:
          path: app/build/outputs/apk/
          destination: apks/

      - store_artifacts:
          path: app/build/outputs/mapping/
          destination: mapping/


